[tool.black]
line-length = 100

[tool.ruff]
line-length = 100
target-version = "py312"
select = ["E","F","I","UP"]
ignore = []

[tool.mypy]
python_version = "3.12"
warn_unused_configs = true
ignore_missing_imports = true
strict_optional = false

